{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 mt-4">
 <div class="row">
   <div class="col">
      <img src="{{ asset('images/books/'~book.image) }}" width="400" height="400">
   </div>
   <div class="col mt-5 text-center">
      <h1 class="text text-danger">{{ book.title }}</h1>
      <h2 class="text text-primary">Price: {{ book.price }} VND</h2>
      <h2 class="text text-primary">Published Year: {{ book.year }}</h2>
      <h2 class="text text-primary">Authors:
         {% for author in book.authors %}
            <a class="text-decoration-none" href="{{ path('author_detail', {'id' : author.id })}}">
               <h5 class="text text-success">{{ author.name }} </h5>
            </a>
         {% endfor %}          
      </h2>
   </div>
 </div>
</div>
{% endblock %}