{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center mt-4">
    <table class="table table-bordered">
        <tr>
            <th>Movie name</th>
            <th>Movie poster</th>
            <th>Movie genres</th>
            <th>Movie year</th>
            <th>Menu</th>
        </tr>
                <td>{{ movie.name }} </td>
                <td>
                    <img src="{{ movie.image }}" width="100" height="100">
                </td>
                <td>
                    {% for genre in movie.genre %}
                        {{ genre.name }}
                        <br>
                    {% endfor %}
                </td>
                <td>{{ movie.year }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('movie_edit', {'id' : movie.id })}}">
                        EDIT
                    </a>
                    <a class="btn btn-danger" href="{{ path('movie_delete', {'id' : movie.id })}}">
                        DELETE
                    </a>
                </td>
            </tr>     
    </table>
</div>
{% endblock %}
